BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 #Base URL of your app

# Connect to Supabase via connection pooling.
DATABASE_URL=""

# Direct connection to the database. Used for migrations.
DIRECT_URL=""

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=